body {
    background: #add8e6;
    font-family: arial;
}
h1 {
    font-size: 38px;
    font-family: cursive;
}
h2 {
    font-size: 28px;
    font-family: cursive
}
h3 {
    font-size: 20px;
    font-family: arial;
}